<div class="panel">
    <div class="title primary">
        Postfix Expression
    </div>
    <form action="/solve" method="get">
      <div class="panel-content">
        <input id="q" name="q" type="text" placeholder="Expression" autocomplete="off"><div class="line"></div>
      </div>
      <div class="panel-action">
        <input class="btn" type="submit" value="Convert">
        <input class="btn" type="reset" value="Clear">
      </div>
      <div class="loading hidden"></div>
    </form>
</div>
<div class="panel hidden result">
    <div class="title secondary">
        Infix Expression
    </div>
    <div class="panel-content">
      <div class="result__value"></div>
    </div>
</div>
